*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px ;
    margin-bottom: 50px;
    background:#fff ;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:26px 20px ;
    border: radius 5px; ;
}
.container h1{
    font-size: 45px;
    font-weight: 500;
}
.container h1 span{
    padding-bottom: 7px ;
    border-bottom:4px solid #019f55 ;
    color: #019f55;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background:#019f55 ;
    color: #fff ;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 400px){
    body{
        background-color: black;
    }
    .container{
        margin: 8%;
        width: 90%;
        max-width: 600px;
    }
    .display img{
        width: 30px;
        cursor: pointer;
        position: absolute;
        left: 87%;
        /* left: auto; */
    }
    .display{
        width: 90%;
        margin-top: 35px ;
        margin-bottom: 50px;
        padding:15px 12px ;
        border-radius:  5px ;
        position:relative;
    }
    #Password{
        width: 90%;
    }
    .container h1{
        font-size: 30px;
        font-weight: 500;
    }
    .container button img{
        width: 22px;
        margin-right: 10px;
    }
    .container button{
       margin: auto;
        border: 0;
        outline: 0;
        background:#019f55 ;
        color: #fff ;
        font-size: 20px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        border-radius: 8px;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) and (min-width: 400px){
   
    .container{
        margin: 8%;
        width: 90%;
        max-width: 600px;
    }
    .display{
        width: 95%;
        margin-top: 50px ;
        margin-bottom: 50px;
        padding:18px 15px ;
        border-radius:  5px ;
    }
    .container h1{
        font-size: 40px;
        font-weight: 600;
    }
    .container button img{
        width: 28px;
        margin-right: 10px;
    }
    .container button{
       margin: auto;
        border: 0;
        outline: 0;
        background:#019f55 ;
        color: #fff ;
        font-size: 28px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 28px;
        border-radius: 8px;
        cursor: pointer;
    }
}